<p style="text-transform: capitalize;">Hi {{ name }},</p>

<p>
    Here is your Hi+BOSS verification email. Please check and confirm.
</p>
<p>
    code delete account: 
</p>
<p>
    <span>code: </span>  
    <span>{{otp}}</span>
</p>

<p>
    Please download the Hi+BOSS app on CH Play or App Store after that please log in according to the above information to experience Hi+BOSS-Lean Management Application!
</p>
<p>
    <a href="https://play.google.com/store/apps/details?id=com.hifiveplus.hiboss">Download app</a>
</p>
<p>Best regards,</p>
<p>Hi+BOSS.</p>

<hr />
<div>
    For more information about Hi+ Boss, please visit our Website: <strong><a href="http://hifiveplus.com/">hifiveplus</a></strong>
</div>
