<p style="text-transform: capitalize;">Hi {{ name }},</p>

<p>
    We received a request to reset your Hi+BOSS password from <span>{{email}}</span>.
</p>
<p>
    To use your account again, please enter the following code: 
</p>
<p>
    <h4>{{code}}</h4>
</p>
<p>Note: CODE WILL EXPIRE IN 10 MINUTES AND DO NOT SHARE THIS CODE WITH OTHERS.</p>
<p>If you didn't make the request, please let us know.</p>

<hr />
<div>
    For more information about Hi+ Boss, please visit our Website: <strong><a href="http://hifiveplus.com/">hifiveplus</a></strong>
</div>
